<div id="banner">
  <div id='hero-banner'>
    <h3>Simple Business IT</h3>



  </div>
  <button id='hero-button' class='btn btn-primbary btn-lg'>Take a Tour</button>

</div>

<nav id='nav_bar'>
  <div class='header_name'><%= link_to('SimplizIT', root_path, method: 'get') %></div>
  <div class='header_user'></div>
  <% if current_user %>
    <%= render partial: 'partials/active_user' %>
    <% end %>
   <ul class='nav_links'>
    <li><%= link_to 'Tour', projects_path, 'data-no-turbolink' => true %></li>
    <% if current_user %>
      <%= render partial: 'partials/signout_nav' %>
    <% else %>
      <%= render partial: 'partials/signin_nav' %>
    <% end %>
  </ul>
</nav>
