<div id="signupModal" class="modal fade authorization" tabindex="-1" style="display: none;">
  <div class="modal-header">
    <h3 id="myModalLabel">Sign up</h3><button data-dismiss='modal' class="button_close btn btn-xs">Close</button>
  </div>

  <div class="modal-body">
    <%= form_for(resource, :as => resource_name,
                           :url => registration_path(resource_name),
                           :html => {:id => "sign_up_user"},
                           :format => :json,
                           :remote => :true) do |f| %>
      <%= devise_error_messages! %>                 
      <div><%= f.label :username %>
        <br />
        <%= f.text_field :username, autofocus: true, class: 'input_incorrect', data: { label: 'username' } %><button type='button' class='tooltip_box btn btn-xs' tabindex='-1' data-original-title='Username must:- begin with a letter - end with a letter - contiain at least one letter inbetween beginning and end - can contain underscore or dash, but only between two letters.'>?</button>
      </div>

      <div><%= f.label :email %>
        <br />
        <%= f.email_field :email, class: 'input_incorrect', data: { label: 'email' } %>
        <button type='button' class='tooltip_box btn btn-xs' tabindex='-1' data-original-title='Minimum format a@a.co'>?</button>
      </div>

      <div id='password'><%= f.label :password %>
        <br />
        <%= f.password_field :password, class: 'input_incorrect', data: { label: 'password' } %><button type='button' class='tooltip_box btn btn-xs' tabindex='-1' data-original-title='Minimum length of 8 characters example: Navy#96!'>?</button>
      </div>

      <div id='password_confirmation'><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'input_incorrect', data: { label: 'confirmation'} %><button type='button' class='tooltip_box btn btn-xs' tabindex='-1' data-original-title='Must match the password'>?</button>
      </div><br />  

      <div class="modal-footer">
        <button type='submit' class="button_submit btn btn-primary">Sign Up</button>
      </div>
    <% end %>
  </div>
</div>