<div id="signinModal" class="modal fade authorization" tabindex="-1" style="display: none;">
  <div class="modal-header">
    <h3 id="myModalLabel">Sign in</h3>
  </div>

  <div class="modal-body">
    <%= form_for(resource, :as => resource_name,
                           :url => session_path(resource_name),
                           :html => {:id => "sign_in_user"},
                           :format => :json,
                           :remote => :true) do |f| %>
      <%= devise_error_messages! %>                 
      <div><%= f.label :login %>
        <br />
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div><%= f.label :password %>
        <br />
        <%= f.password_field :password %>
      </div>
      <%= render "devise/shared/links" %>
      <div class="modal-footer">
        <button type='submit' class="btn btn-primary">Sign Up</button>
      </div>
    <% end %>
  </div>
</div>