<div id="signupModal" class="modal fade authorization" tabindex="-1" style="display: none;">
  <div class="modal-header">
    <h3 id="myModalLabel">Sign up</h3><button id='button_close' data-dismiss='modal' class="btn btn-xs">Close</button>
  </div>

  <div class="modal-body">
    <%= form_for(resource, :as => resource_name,
                           :url => registration_path(resource_name),
                           :html => {:id => "sign_up_user"},
                           :format => :json,
                           :remote => :true) do |f| %>
      <%= devise_error_messages! %>                 
      <div><%= f.label :username %>
        <br />
        <%= f.text_field :username, autofocus: true, class: 'input_incorrect', data: { label: 'Username' } %><button type='button' class='tooltip_box btn btn-xs' data-label='Username'>?</button>
      </div>

      <div><%= f.label :email %>
        <br />
        <%= f.email_field :email, class: 'input_incorrect', data: { label: 'Email' } %>
        <button type='button' class='tooltip_box btn btn-xs' data-label='Email'>?</button>
      </div>

      <div id='password'><%= f.label :password %>
        <br />
        <%= f.password_field :password, class: 'input_incorrect', data: { label: 'Password' } %><button type='button' class='tooltip_box btn btn-xs' data-label='Password'>?</button>
      </div>

      <div id='password_confirmation'><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'input_incorrect', data: { label: 'Confirmation'} %><button type='button' class='tooltip_box btn btn-xs' data-label='Confirmation'>?</button>
      </div><br />  

      <div class="modal-footer">
        <button id='button_submit' type='submit' class="btn btn-primary">Sign Up</button>
      </div>
    <% end %>
  </div>
</div>