<div id='showcase'>
	<%= render partial: 'partials/banner' %>
	<%= render partial: 'users/user_partials/showcase_one' %>
	<%= render partial: 'users/user_partials/showcase_two' %>
	<%= render partial: 'users/user_partials/showcase_three' %>
	<div class='triangle'></div>
</div>

<%= render partial: 'users/user_partials/footer' %>