<!DOCTYPE html>
<html>
	<head>
		<title>SimplizIT</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	  
	<body>
	 
	  <nav class="navbar navbar-default navbar-static-top" role="navigation">
	  	<div class='header_name'><%= link_to('SimplizIT', root_path, method: 'get') %></div>
	  	<% if current_user %>
	  	  <div class='active_user'>&nbsp; &nbsp; — &nbsp; Welcome... <span><b><%= current_user.username %></b></span></div>
	  	<% end %>
	  	<ul class="nav">
        <% if current_user %>
          <li><%= link_to 'Blog', root_path, method: 'get' %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></li>
    	  <% else %>
    	    <li><%= link_to 'hello', '#', title: 'what is it' %></li>

          <li><%= link_to 'Sign In', '#signinModal', data: {toggle: "modal"}, id: 'sign_inLink' %></li>
    	    <li><%= link_to 'Sign Up', '#signupModal', data: {toggle: "modal"}, id: 'sign_upLink' %></li>
     	  <% end %>
      </ul>
    </nav>
    <div id='main_container'>

	    <%= yield %>

      <%= render partial: 'partials/sign_in' %>
      <%= render partial: 'partials/sign_up' %>
    </div>
	</body>
</html>


