<!DOCTYPE html>
<html>
	<head>
		<title>SimplizIT</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	  
	<body>
	 
	  <nav class="navbar navbar-default navbar-static-top" role="navigation">
	  	<div class='header_name'><%= link_to('SimplizIT', root_path, method: 'get') %></div>
	  	<div class='header_user'></div>
	  	<% if current_user %>
	  	  <%= render partial: 'partials/active_user' %>
	  	<% end %>
	  	<ul class='nav_links'>
        <% if current_user %>
          <%= render partial: 'partials/signout_nav' %>
    	  <% else %>
          <%= render partial: 'partials/signin_nav' %>
     	  <% end %>
     	</ul>
    </nav>
    <div id='main_container'>

	    <%= yield %>

      <%= render partial: 'partials/sign_in' %>
      <%= render partial: 'partials/sign_up' %>
    </div>
	</body>
</html>


